In [1]:
# pandasが使えるようにインポート
import pandas as pd

In [2]:
# リストを使用してSeriesを作成
s1 = pd.Series([90,78,65,87,72])
s1

0    90
1    78
2    65
3    87
4    72
dtype: int64

In [3]:
# 変数に代入して
data = [90,78,65,87,72]

In [4]:
# Seriesを作成
s1 = pd.Series(data)
s1

0    90
1    78
2    65
3    87
4    72
dtype: int64

In [5]:
# numpyとは高速にリストの計算をするためのライブラリをimport
import numpy as np

In [6]:
# １から１０までの間で２づつ増やしていく、奇数のリストの作成
np.arange(1, 10, 2)

array([1, 3, 5, 7, 9])

In [7]:
# 代入してSeriesの作成
s2 = pd.Series(np.arange(1, 10, 2))
s2

0    1
1    3
2    5
3    7
4    9
dtype: int64

In [8]:
# 変数に代入して
data = np.arange(1, 10, 2)

In [9]:
# Seriesを作成
s1 = pd.Series(data)
s1

0    1
1    3
2    5
3    7
4    9
dtype: int64

In [11]:
s1 # 確認

0    1
1    3
2    5
3    7
4    9
dtype: int64

In [12]:
s1.dtypes # データ型の確認

dtype('int64')

In [13]:
s1.index # indexの取得

RangeIndex(start=0, stop=5, step=1)

In [14]:
# indexの変更
s1.index = ['佐藤', '鈴木', '坂本', '田中', '伊藤']
s1

佐藤    1
鈴木    3
坂本    5
田中    7
伊藤    9
dtype: int64

In [15]:
s1.index # indexの確認

Index(['佐藤', '鈴木', '坂本', '田中', '伊藤'], dtype='object')

In [16]:
# 辞書型データを変数に代入
dict01 = {'佐藤':90, '鈴木':78, '坂本':65, '田中':87, '伊藤':72}

In [17]:
# 変数を入れて、Seriesの作成
s1 = pd.Series(dict01)
s1

佐藤    90
鈴木    78
坂本    65
田中    87
伊藤    72
dtype: int64

In [18]:
s1.values # s1の中の値を確認

array([90, 78, 65, 87, 72])

In [19]:
s1['佐藤'] # s1の中の指定された値を確認

90

In [21]:
s1[1] # index番号を使用してs1の中の指定された値を確認

78

In [22]:
# リストを入れることでindexにある指定された値の表示
s1[['鈴木' ,'田中']]

鈴木    78
田中    87
dtype: int64

In [23]:
s1[[0,4]] # 数値を入れるとそれに該当する値の表示0番目,4番目

佐藤    90
伊藤    72
dtype: int64

### 比較演算子を使用する

In [26]:
s1 > 80

佐藤     True
鈴木    False
坂本    False
田中     True
伊藤    False
dtype: bool

In [27]:
s1[s1 > 80] # 80点より大きい数値の表示

佐藤    90
田中    87
dtype: int64

In [28]:
s1[s1 <= 80] # 80点以下の数値の表示

鈴木    78
坂本    65
伊藤    72
dtype: int64

In [29]:
s1.size # 要素数の取得

5

In [30]:
len(s1) # 要素数の取得（別）

5

In [31]:
# indexとデータ部分に名前をつける
s1.index.name = 'member'
s1.name = 'score'
s1

member
佐藤    90
鈴木    78
坂本    65
田中    87
伊藤    72
Name: score, dtype: int64

### 四則演算

In [39]:
s1 + 2

member
佐藤    92
鈴木    80
坂本    67
田中    89
伊藤    74
Name: score, dtype: int64

In [40]:
s1 - 2

member
佐藤    88
鈴木    76
坂本    63
田中    85
伊藤    70
Name: score, dtype: int64

In [41]:
s1 * 2

member
佐藤    180
鈴木    156
坂本    130
田中    174
伊藤    144
Name: score, dtype: int64

In [42]:
s1 / 2

member
佐藤    45.0
鈴木    39.0
坂本    32.5
田中    43.5
伊藤    36.0
Name: score, dtype: float64

In [43]:
s1

member
佐藤    90
鈴木    78
坂本    65
田中    87
伊藤    72
Name: score, dtype: int64

In [32]:
# 文字列の四則演算はエラー
s5 = pd.Series(['test'])
s5 + 2
s5

TypeError: can only concatenate str (not "int") to str

### Series同しの足し算

In [34]:
s2

0    1
1    3
2    5
3    7
4    9
dtype: int64

In [35]:
s2.index = ['佐藤', '渡辺', '田中', '鈴木', '坂本']
s2

佐藤    1
渡辺    3
田中    5
鈴木    7
坂本    9
dtype: int64

In [36]:
s1

member
佐藤    90
鈴木    78
坂本    65
田中    87
伊藤    72
Name: score, dtype: int64

In [37]:
s1 + s2

伊藤     NaN
佐藤    91.0
坂本    74.0
渡辺     NaN
田中    92.0
鈴木    85.0
dtype: float64

### 欠損値確認

In [38]:
s1

member
佐藤    90
鈴木    78
坂本    65
田中    87
伊藤    72
Name: score, dtype: int64

In [40]:
s1.hasnans #　欠損値確認

False

In [43]:
# 欠損値ありのSeries制作
s4 = pd.Series([90,78,65,None,72])
s4

0    90.0
1    78.0
2    65.0
3     NaN
4    72.0
dtype: float64

In [45]:
s4.hasnans #　欠損値確認

True

In [46]:
pd.isnull(s4) # 欠損値場所の確認

0    False
1    False
2    False
3     True
4    False
dtype: bool

In [47]:
# DataFrameの作成
df = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]],
                    columns=['col01', 'col02', 'col03'],
                    index=['idx01','idx02','idx03'])
df

       col01  col02  col03
idx01      1      2      3
idx02      4      5      6
idx03      7      8      9

In [49]:
df['col01'] # DataFrameからSeriesの取得

idx01    1
idx02    4
idx03    7
Name: col01, dtype: int64

In [50]:
type(df['col01']) # データ型の確認

pandas.core.series.Series

In [51]:
# DataFrameにSeriesを追加
s5 = pd.Series({'idx01':10, 'idx02':11, 'idx03':12})
s5

idx01    10
idx02    11
idx03    12
dtype: int64

In [52]:
# 代入で追加
df['col04'] = s5
df

       col01  col02  col03  col04
idx01      1      2      3     10
idx02      4      5      6     11
idx03      7      8      9     12

In [53]:
# index名の違うSeriesの追加
s6 = pd.Series({'idx03':13, 'idx04':14, 'idx05':15})
s6

idx03    13
idx04    14
idx05    15
dtype: int64

In [54]:
# 同名indexのみ追加ほかはNaN
df['col05'] = s6
df

       col01  col02  col03  col04  col05
idx01      1      2      3     10    NaN
idx02      4      5      6     11    NaN
idx03      7      8      9     12   13.0

### 時系列データ

In [55]:
# 時系列データの作成
dates = pd.date_range('2000/1/1', periods = 5, freq = 'D')
dates

DatetimeIndex(['2000-01-01', '2000-01-02', '2000-01-03', '2000-01-04',
               '2000-01-05'],
              dtype='datetime64[ns]', freq='D')

In [56]:
type(dates) # データ型の表示

pandas.core.indexes.datetimes.DatetimeIndex

#### これをindex名にする

In [57]:
s1

member
佐藤    90
鈴木    78
坂本    65
田中    87
伊藤    72
Name: score, dtype: int64

In [58]:
s1.index = dates
s1

2000-01-01    90
2000-01-02    78
2000-01-03    65
2000-01-04    87
2000-01-05    72
Freq: D, Name: score, dtype: int64