In [1]:
import pandas as pd
import numpy as np

## Series mapメソッド

In [2]:
s1 = pd.Series([7000, 5000, 23000, 2500, 12000])
s1

0     7000
1     5000
2    23000
3     2500
4    12000
dtype: int64

In [3]:
s1 * 2

0    14000
1    10000
2    46000
3     5000
4    24000
dtype: int64

In [4]:
def double(x):
    return x * 2

In [6]:
s1.map(double)

0    14000
1    10000
2    46000
3     5000
4    24000
dtype: int64

In [7]:
s1.map(lambda x: x * 2)

0    14000
1    10000
2    46000
3     5000
4    24000
dtype: int64

In [8]:
s1.map(lambda x: '1万円以上' if x >= 10000 else '1万円未満')

0    1万円未満
1    1万円未満
2    1万円以上
3    1万円未満
4    1万円以上
dtype: object

In [9]:
def f_rank(x):
    if x >= 20000:
        return 'S'
    elif x >= 10000:
        return 'A'
    elif x >= 5000:
        return 'B'
    else:
        return 'C'

In [10]:
s1.map(f_rank)

0    B
1    B
2    S
3    C
4    A
dtype: object

In [11]:
s1.map(np.square)

0     49000000
1     25000000
2    529000000
3      6250000
4    144000000
dtype: int64

In [12]:
s1.map(np.sum)

0     7000
1     5000
2    23000
3     2500
4    12000
dtype: int64

In [14]:
s1.sum()

49500

## 文字列Series mapメソッド

In [15]:
s2 = pd.Series(['スカートSkirt', 'ニットKnit', 'ジャケットJacket', 'シャツShirt', 'ロングパンツSlacks'])
s2

0       スカートSkirt
1         ニットKnit
2     ジャケットJacket
3        シャツShirt
4    ロングパンツSlacks
dtype: object

In [16]:
s2.map(lambda x: x[0])

0    ス
1    ニ
2    ジ
3    シ
4    ロ
dtype: object

In [17]:
import re
s2.map(lambda x: re.findall('[A-z]+', x))

0     [Skirt]
1      [Knit]
2    [Jacket]
3     [Shirt]
4    [Slacks]
dtype: object

In [19]:
s3 = pd.Series(['スカートSkirt', 'ニットKnit', 'ジャケットJacket', 'シャツShirt', 'BottomsロングパンツSlacks'])
s3

0              スカートSkirt
1                ニットKnit
2            ジャケットJacket
3               シャツShirt
4    BottomsロングパンツSlacks
dtype: object

In [20]:
s3.map(lambda x: re.findall('[A-z]+', x))

0              [Skirt]
1               [Knit]
2             [Jacket]
3              [Shirt]
4    [Bottoms, Slacks]
dtype: object

In [21]:
s4 = pd.Series(['スカートSkirt', 'ニットKnit', 'ジャケットJacket', 'シャツShirt', np.nan])
s4

0      スカートSkirt
1        ニットKnit
2    ジャケットJacket
3       シャツShirt
4            NaN
dtype: object

In [22]:
d = {'ジャケットJacket':'Outer', 'スカートSkirt':'Bottoms', 'ニットKnit':'Tops', 'ワンピースOnepiece':'Onepiece'}
d

{'ジャケットJacket': 'Outer',
 'スカートSkirt': 'Bottoms',
 'ニットKnit': 'Tops',
 'ワンピースOnepiece': 'Onepiece'}

In [23]:
s4.map(d)

0    Bottoms
1       Tops
2      Outer
3        NaN
4        NaN
dtype: object

In [24]:
s4.map('{}を買います。'.format)

0      スカートSkirtを買います。
1        ニットKnitを買います。
2    ジャケットJacketを買います。
3       シャツShirtを買います。
4            nanを買います。
dtype: object

In [25]:
s4.map('{}を買います。'.format, na_action='ignore')

0      スカートSkirtを買います。
1        ニットKnitを買います。
2    ジャケットJacketを買います。
3       シャツShirtを買います。
4                  NaN
dtype: object

## Seriesとapplyメソッド

In [27]:
s1

0     7000
1     5000
2    23000
3     2500
4    12000
dtype: int64

In [28]:
s1.apply(double)

0    14000
1    10000
2    46000
3     5000
4    24000
dtype: int64

In [29]:
s1.apply(lambda x: x*2)

0    14000
1    10000
2    46000
3     5000
4    24000
dtype: int64

In [30]:
s1.apply(lambda x: '1万円以上' if x >= 10000 else '1万円未満')

0    1万円未満
1    1万円未満
2    1万円以上
3    1万円未満
4    1万円以上
dtype: object

In [31]:
s1.apply(f_rank)

0    B
1    B
2    S
3    C
4    A
dtype: object

In [32]:
def f_tax(x, tax):
    return x * tax + x

In [34]:
s1.apply(f_tax, args=(0.1,))

0     7700.0
1     5500.0
2    25300.0
3     2750.0
4    13200.0
dtype: float64

In [35]:
s1.map(f_tax, args=(0.1,))

TypeError: map() got an unexpected keyword argument 'args'

In [37]:
s1.apply(np.square)

0     49000000
1     25000000
2    529000000
3      6250000
4    144000000
dtype: int64

In [38]:
s1.apply(np.sum)

0     7000
1     5000
2    23000
3     2500
4    12000
dtype: int64

## 文字列Seriesとapplyメソッド

In [39]:
s2

0       スカートSkirt
1         ニットKnit
2     ジャケットJacket
3        シャツShirt
4    ロングパンツSlacks
dtype: object

In [40]:
s2.apply(lambda x: x[0])

0    ス
1    ニ
2    ジ
3    シ
4    ロ
dtype: object

In [42]:
s2.apply(lambda x: re.findall('[A-z]+', x))

0     [Skirt]
1      [Knit]
2    [Jacket]
3     [Shirt]
4    [Slacks]
dtype: object

In [43]:
s2.apply(d)

AttributeError: 'Outer' is not a valid function for 'Series' object

In [44]:
s4.apply('{}を買います。'.format)

0      スカートSkirtを買います。
1        ニットKnitを買います。
2    ジャケットJacketを買います。
3       シャツShirtを買います。
4            nanを買います。
dtype: object

In [45]:
s4.apply('{}を買います。'.format, na_action='ignore')

0      スカートSkirtを買います。
1        ニットKnitを買います。
2    ジャケットJacketを買います。
3       シャツShirtを買います。
4            nanを買います。
dtype: object

## DataFrameとapplymap