In [1]:
# pandasとnumpyが使えるようにimport
import pandas as pd
import numpy as np

## Series mapメソッド

In [2]:
# Seriesの作成
s1 = pd.Series([7000, 5000, 23000, 2500, 12000])
s1

0     7000
1     5000
2    23000
3     2500
4    12000
dtype: int64

In [3]:
# ２倍にする
s1 * 2

0    14000
1    10000
2    46000
3     5000
4    24000
dtype: int64

In [4]:
# ２倍にする関数
def double(x):
    return x * 2

In [5]:
# mapメソッドで２倍にする
s1.map(double)

0    14000
1    10000
2    46000
3     5000
4    24000
dtype: int64

In [6]:
# 　無名関数　名前のない関数ラムダ式
s1.map(lambda x: x * 2)

0    14000
1    10000
2    46000
3     5000
4    24000
dtype: int64

In [7]:
# ラムダ式でif文
s1.map(lambda x: '1万円以上' if x >= 10000 else '1万円未満')

0    1万円未満
1    1万円未満
2    1万円以上
3    1万円未満
4    1万円以上
dtype: object

In [8]:
# 価格でランク付けする関数
def f_rank(x):
    if x >= 20000:
        return 'S'
    elif x >= 10000:
        return 'A'
    elif x >= 5000:
        return 'B'
    else:
        return 'C'

In [9]:
# mapメソッドでランク付け
s1.map(f_rank)

0    B
1    B
2    S
3    C
4    A
dtype: object

In [10]:
# ２乗するnumpy関数
s1.map(np.square)

0     49000000
1     25000000
2    529000000
3      6250000
4    144000000
dtype: int64

In [11]:
# 合計を算出するnumpy関数
s1.map(np.sum)

0     7000
1     5000
2    23000
3     2500
4    12000
dtype: int64

In [12]:
# Seriesの合計を算出
s1.sum()

49500

## 文字列Seriesとmapメソッド

In [13]:
# 文字列のSeriesの作成
s2 = pd.Series(['スカートSkirt', 'ニットKnit', 'ジャケットJacket', 'シャツShirt', 'ロングパンツSlacks'])
s2

0       スカートSkirt
1         ニットKnit
2     ジャケットJacket
3        シャツShirt
4    ロングパンツSlacks
dtype: object

In [14]:
# それぞれの要素からはじめの一文字を取り出す
s2.map(lambda x: x[0])

0    ス
1    ニ
2    ジ
3    シ
4    ロ
dtype: object

In [15]:
# アルファベットを取り出す
import re
s2.map(lambda x: re.findall('[A-z]+', x))

0     [Skirt]
1      [Knit]
2    [Jacket]
3     [Shirt]
4    [Slacks]
dtype: object

In [16]:
# 最後、アルファベットの部分が２つ
s3 = pd.Series(['スカートSkirt', 'ニットKnit', 'ジャケットJacket', 'シャツShirt', 'BottomsロングパンツSlacks'])
s3

0              スカートSkirt
1                ニットKnit
2            ジャケットJacket
3               シャツShirt
4    BottomsロングパンツSlacks
dtype: object

In [17]:
# リストで帰ってくる
s3.map(lambda x: re.findall('[A-z]+', x))

0              [Skirt]
1               [Knit]
2             [Jacket]
3              [Shirt]
4    [Bottoms, Slacks]
dtype: object

In [18]:
# 欠損値を入れてSeriesの作成
s4 = pd.Series(['スカートSkirt', 'ニットKnit', 'ジャケットJacket', 'シャツShirt', np.nan])
s4

0      スカートSkirt
1        ニットKnit
2    ジャケットJacket
3       シャツShirt
4            NaN
dtype: object

In [19]:
# 辞書型のデータを作成
d = {'ジャケットJacket':'Outer', 'スカートSkirt':'Bottoms', 'ニットKnit':'Tops', 'ワンピースOnepiece':'Onepiece'}
d

{'ジャケットJacket': 'Outer',
 'スカートSkirt': 'Bottoms',
 'ニットKnit': 'Tops',
 'ワンピースOnepiece': 'Onepiece'}

In [20]:
# s4に辞書ｄを適応し、関連づけをする
s4.map(d)

0    Bottoms
1       Tops
2      Outer
3        NaN
4        NaN
dtype: object

In [21]:
# Seriesの各要素から文章を作成（欠損値も作成される）
s4.map('{}を買います。'.format)

0      スカートSkirtを買います。
1        ニットKnitを買います。
2    ジャケットJacketを買います。
3       シャツShirtを買います。
4            nanを買います。
dtype: object

In [22]:
# 欠損値はそのままにする
s4.map('{}を買います。'.format, na_action='ignore')

0      スカートSkirtを買います。
1        ニットKnitを買います。
2    ジャケットJacketを買います。
3       シャツShirtを買います。
4                  NaN
dtype: object

## Seriesとapplyメソッド

In [23]:
s1　# 確認

SyntaxError: invalid non-printable character U+3000 (3267992665.py, line 1)

In [24]:
s1.apply(double) # 要素を２倍にする関数

0    14000
1    10000
2    46000
3     5000
4    24000
dtype: int64

In [25]:
s1.apply(lambda x: x*2) # ラムダ式で要素を２倍にする

0    14000
1    10000
2    46000
3     5000
4    24000
dtype: int64

In [26]:
s1.apply(lambda x: '1万円以上' if x >= 10000 else '1万円未満') # ラムダ式でif文

0    1万円未満
1    1万円未満
2    1万円以上
3    1万円未満
4    1万円以上
dtype: object

In [27]:
# 価格でランク付けする関数
s1.apply(f_rank)

0    B
1    B
2    S
3    C
4    A
dtype: object

In [28]:
# 消費税率で税込金額を計算
def f_tax(x, tax):
    return x * tax + x

In [29]:
# ※この関数を適応する場合applyメソッドの引数argsに税率をタプルで渡す
# タプル：複数の要素が順序を持って並べられているデータ型
s1.apply(f_tax, args=(0.1,))

0     7700.0
1     5500.0
2    25300.0
3     2750.0
4    13200.0
dtype: float64

In [30]:
# mapメソッドでは使えない
s1.map(f_tax, args=(0.1,))

TypeError: map() got an unexpected keyword argument 'args'

In [31]:
# ２乗するnumpy関数
s1.apply(np.square)

0     49000000
1     25000000
2    529000000
3      6250000
4    144000000
dtype: int64

In [32]:
# 合計は計算できない
s1.apply(np.sum)

0     7000
1     5000
2    23000
3     2500
4    12000
dtype: int64

## 文字列Seriesとapplyメソッド

In [33]:
s2 # 確認

0       スカートSkirt
1         ニットKnit
2     ジャケットJacket
3        シャツShirt
4    ロングパンツSlacks
dtype: object

In [34]:
# 各要素から最初の一文字取り出す
s2.apply(lambda x: x[0])

0    ス
1    ニ
2    ジ
3    シ
4    ロ
dtype: object

In [35]:
# アルファベットを取り出す
s2.apply(lambda x: re.findall('[A-z]+', x))

0     [Skirt]
1      [Knit]
2    [Jacket]
3     [Shirt]
4    [Slacks]
dtype: object

In [36]:
# 関連付けをする（マッピング）（エラー）
s2.apply(d)

AttributeError: 'Outer' is not a valid function for 'Series' object

In [ ]:
# 文章を作成
s4.apply('{}を買います。'.format)

In [37]:
# 欠損値を無視する事ができない
s4.apply('{}を買います。'.format, na_action='ignore')

0      スカートSkirtを買います。
1        ニットKnitを買います。
2    ジャケットJacketを買います。
3       シャツShirtを買います。
4            nanを買います。
dtype: object

## DataFrameとapplymap

In [38]:
# データフレームの作成
df = pd.DataFrame(
    [[11000, 6000, 8000], [5000, 12000, 6000], [4000, 5000, 9000]],
    columns = ['1日', '2日', '3日'], index = ['Aさん', 'Bさん', 'Cさん'])
df

        1日     2日    3日
Aさん  11000   6000  8000
Bさん   5000  12000  6000
Cさん   4000   5000  9000

In [39]:
# 要素の２倍
df * 2

        1日     2日     3日
Aさん  22000  12000  16000
Bさん  10000  24000  12000
Cさん   8000  10000  18000

In [40]:
# 要素の２倍（関数）
df.applymap(double)

        1日     2日     3日
Aさん  22000  12000  16000
Bさん  10000  24000  12000
Cさん   8000  10000  18000

In [41]:
# 要素の２倍（ラムダ式）
df.applymap(lambda x : x * 2)

        1日     2日     3日
Aさん  22000  12000  16000
Bさん  10000  24000  12000
Cさん   8000  10000  18000

In [42]:
# ラムダ式のIF文
df.applymap(lambda x: '1万円以上' if x >= 10000 else '1万円未満')

        1日     2日     3日
Aさん  1万円以上  1万円未満  1万円未満
Bさん  1万円未満  1万円以上  1万円未満
Cさん  1万円未満  1万円未満  1万円未満

In [43]:
# if文で価格のランクを付ける関数
df.applymap(f_rank)

    1日 2日 3日
Aさん  A  B  B
Bさん  B  A  B
Cさん  C  B  B

In [44]:
# 税込金額を計算する関数が適応できるか確認
df.applymap(f_tax, args=(0.1,))

TypeError: f_tax() got an unexpected keyword argument 'args'

#### 簡単な条件でフラグを付けたい場合はmask,where

In [45]:
# maskメソッド：条件に当てはまるものは指定した値を返す
df.mask(df < 10000, '1万円未満')

        1日     2日     3日
Aさん  11000  1万円未満  1万円未満
Bさん  1万円未満  12000  1万円未満
Cさん  1万円未満  1万円未満  1万円未満

In [46]:
df < 10000 # 確認

        1日     2日    3日
Aさん  False   True  True
Bさん   True  False  True
Cさん   True   True  True

In [47]:
# whereメソッド：条件に当てはまらないものは指定した値を返す
df.where(df < 10000,'1万円以上')

        1日     2日    3日
Aさん  1万円以上   6000  8000
Bさん   5000  1万円以上  6000
Cさん   4000   5000  9000

In [48]:
df.applymap(np.square) # 2乗するnumpy関数

            1日         2日        3日
Aさん  121000000   36000000  64000000
Bさん   25000000  144000000  36000000
Cさん   16000000   25000000  81000000

In [49]:
df.applymap(np.sum) #　合計の算出、エラーは出ず結果は出るが変化はなし

        1日     2日    3日
Aさん  11000   6000  8000
Bさん   5000  12000  6000
Cさん   4000   5000  9000

In [50]:
df.sum() # 合計を出したい場合

1日    20000
2日    23000
3日    23000
dtype: int64

## 文字列のDataFrameとapplymapメソッド

In [51]:
# 文字列のデータフレームの作成
df2 = pd.DataFrame([['スカートSkirt', 'ニットKnit', 'ジャケットJacket'],
                    ['シャツShirt', 'ロングパンツSlachs', 'ワンピースOnepiece']],
                  columns=['x', 'y', 'z'])
df2

           x             y              z
0  スカートSkirt       ニットKnit    ジャケットJacket
1   シャツShirt  ロングパンツSlachs  ワンピースOnepiece

In [52]:
# ラムダ式でそれぞれの要素からはじめの一文字を取り出す
df2.applymap(lambda x: x[0])

   x  y  z
0  ス  ニ  ジ
1  シ  ロ  ワ

In [53]:
# それぞれの要素からアルファベットを取り出すラムダ式
df2.applymap(lambda x: re.findall('[A-z]+', x))

         x         y           z
0  [Skirt]    [Knit]    [Jacket]
1  [Shirt]  [Slachs]  [Onepiece]

## DataFrameとapplyメソッド

In [54]:
# 要素を２倍にする関数
df.apply(double)

        1日     2日     3日
Aさん  22000  12000  16000
Bさん  10000  24000  12000
Cさん   8000  10000  18000

In [55]:
# 要素を２倍にする（ラムダ式）
df.apply(lambda x: x * 2)

        1日     2日     3日
Aさん  22000  12000  16000
Bさん  10000  24000  12000
Cさん   8000  10000  18000

In [56]:
# エラーになる
df.apply(lambda x: '1万円以上' if x >= 10000 else '1万円未満')

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [57]:
# それぞれの要素を判定するのはエラーにならない
df.apply(lambda x: x >= 10000)

        1日     2日     3日
Aさん   True  False  False
Bさん  False   True  False
Cさん  False  False  False

In [58]:
# データフレームから一列取り出してしSeriesとして関数を適用
df['1日'].apply(lambda x: '1万円以上' if x >= 10000 else '1万円未満')

Aさん    1万円以上
Bさん    1万円未満
Cさん    1万円未満
Name: 1日, dtype: object

In [59]:
# 税込金額を計算する関数
df.apply(f_tax, args=(0.1,))

          1日       2日      3日
Aさん  12100.0   6600.0  8800.0
Bさん   5500.0  13200.0  6600.0
Cさん   4400.0   5500.0  9900.0

In [60]:
# 要素を２乗するnumpy関数
df.apply(np.square)

            1日         2日        3日
Aさん  121000000   36000000  64000000
Bさん   25000000  144000000  36000000
Cさん   16000000   25000000  81000000

In [61]:
# 合計の計算
df.apply(np.sum)

1日    20000
2日    23000
3日    23000
dtype: int64

In [62]:
# 行方向に計算したい場合
df.apply(np.sum, axis=1)

Aさん    25000
Bさん    23000
Cさん    18000
dtype: int64

In [63]:
df # 確認

        1日     2日    3日
Aさん  11000   6000  8000
Bさん   5000  12000  6000
Cさん   4000   5000  9000

In [64]:
# 列ごとに最大値から最小値を引く関数（ラムダ式）
df.apply(lambda x: max(x) - min(x))

1日    7000
2日    7000
3日    3000
dtype: int64

In [65]:
df2 # 確認

           x             y              z
0  スカートSkirt       ニットKnit    ジャケットJacket
1   シャツShirt  ロングパンツSlachs  ワンピースOnepiece

In [66]:
# それぞれの要素からはじめの位置を取り出そうとする（ラムダ式）
# xyzそれぞれの一番目の要素が取り出せる
df2.apply(lambda x: x[0])

x      スカートSkirt
y        ニットKnit
z    ジャケットJacket
dtype: object

In [67]:
# それぞれの要素からアルファベットを取り出そうとする（ラムダ式）
# エラーになる
df2.apply(lambda x: re.findall('[A-z]+',x))

TypeError: expected string or bytes-like object